<footer>
    <div class="container ">
        <div class="row">
            <div class="col-3 logo">
                <img src="../../../../assets/image/logo.jpg" alt="logo" style="width:80%">
            </div>
            <div class="col-3 jeejob">
                <h3>JEEJOB</h3>
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['']">Về DPS</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['']">Liên hệ</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['']">Thỏa thuận sử dụng</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['']">Quy định bảo mật</a>
                    </li>
                </ul>
            </div>
            <div class="col-3 theokhuvuc">
                <h3>JEEJOB</h3>
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['']">HCM</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['']">Hà Nôi</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['']">Thỏa thuận sử dụng</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['']">Quy định bảo mật</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" style="color: green;" [routerLink]="['']">Xem tất cả khu vực >>>>></a>
                    </li>
                </ul>
            </div>
            <div class="col-3 theonganhnghe">
                <h3>JEEJOB</h3>
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['']">Về DPS</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['']">Liên hệ</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['']">Thỏa thuận sử dụng</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['']">Quy định bảo mật</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" style="color: green;" [routerLink]="['']">Xem tất cả ngành nghề >>>>></a>
                    </li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="footer">
            <b><small style="font-size: 12px;">
                ©2019 DPS CO., LTD. All rights reserved. <br>
 85/4 Nguyễn Thế Truyện, P.Tân Sơn Nhì, Q.Tân Phú, Tp. Hồ Chí Minh
             </small></b>
        </div>
    </div>
</footer>