<footer>
    <div class="container ">
        <div class="row">
            <div class="col-3 logo">
                <img src="../../../../assets/image/logo.jpg" alt="logo" style="width:80%">
            </div>
            <div class="col-3 cot">
                <h3>JEEJOB</h3>
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="text-dark" [routerLink]="['']">Về DPS</a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-dark" [routerLink]="['']">Liên hệ</a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-dark" [routerLink]="['']">Thỏa thuận sử dụng</a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-dark" [routerLink]="['']">Quy định bảo mật</a>
                    </li>
                </ul>
            </div>
            <div class="col-3 cot">
                <h3>Việc làm theo khu vực</h3>
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="text-dark" [routerLink]="['']">Hồ Chí Minh</a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-dark"  [routerLink]="['']">Hà Nôi</a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-dark" [routerLink]="['']">Đà Nẵng</a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-dark" [routerLink]="['']">Cần Thơ</a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-dark" [routerLink]="['']">Hải phòng</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link"  style="color: var(--second);" [routerLink]="['']">Xem tất cả khu vực >></a>
                    </li>
                </ul>
            </div>
            <div class="col-3 cot">
                <h3>Việc làm theo ngành nghề</h3>
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="text-dark" [routerLink]="['']">Kế toán</a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-dark" [routerLink]="['']">Ngân hàng </a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-dark" [routerLink]="['']">IT - Phần mềm</a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-dark" [routerLink]="['']">IT - Phần cứng</a>
                    </li>
                    <li class="nav-item ">
                        <a class="text-dark" [routerLink]="['']">Xây dựng</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" style="color: var(--second);" [routerLink]="['./']">Xem tất cả ngành nghề >></a>
                    </li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="footer">
            <b><small style="font-size: 12px;">
                ©2019 DPS CO., LTD. All rights reserved. <br>
 85/4 Nguyễn Thế Truyện, P.Tân Sơn Nhì, Q.Tân Phú, Tp. Hồ Chí Minh
             </small></b>
        </div>
    </div>
</footer>