<div style="background-color: #eee;">
    <div class="container main-content"  style="padding: 50px 0;">
        <div class="box box-lg">
            <h1 class="page-title">Liên hệ</h1>
            Cám ơn bạn đã vào thăm trang JEEJOB.com của chúng tôi, website tuyển dụng trên mạng lớn nhất tại Việt
            Nam
            hiện nay. Bạn có thể liên hệ với chúng tôi theo một trong những cách sau:

            <p>

            </p>
            <h2>Bộ phận Tư Vấn Nghề Nghiệp</h2>

            <p>Nếu bạn có thắc mắc trong quá trình sử dụng trang web JEEJOB.com, mời bạn vào trang <a
                    href="http://faq.JEEJOB.com/vi/" title="Hỏi Đáp"><b>Hỏi Đáp</b></a> để xem hướng
                dẫn sử
                dụng và giải quyết những vấn đề thường gặp.</p>

            <p>Đối với những vấn đề khác, mời bạn điền vào <a href="/lien-he/phan-hoi" title="Mẫu thư liên lạc"><b>mẫu
                        thư liên lạc</b></a>
                và gửi đi cho chúng tôi theo địa chỉ. Các chuyên viên tư vấn của JEEJOB.com sẽ trả lời bạn trong
                thời
                gian sớm
                nhất.</p>

            <div itemscope="" itemtype="http://schema.org/Organization">
                <p>

                </p>
                <div class="title_bg">
                    <h2 itemprop="name">Văn phòng JEEJOB.com</h2>
                </div>
                <p></p>
                <h3>Tại Hồ Chí Minh</h3>

                <p itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">Tầng 20, tòa nhà E.Town Central, 11 Đoàn Văn Bơ,</span>
                    <span itemprop="addressLocality">Phường 12<br>
                        Quận 4, TP.HCM, Vietnam</span> <br>
                    Điện thoại: <span itemprop="telephone">(84 28) 5404 1373</span> <br></p>

                <h3>Tại Hà Nội</h3>

                <p itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">Tầng 7, tòa nhà V-building<br> 125-127 Bà Triệu,</span>
                    <span itemprop="addressLocality">phường Nguyễn Du, quận Hai Bà Trưng<br> Hà Nội</span><br>
                    Điện thoại: <span itemprop="telephone">(84 24) 3974 3033</span>/ Fax: <span itemprop="faxNumber">(84
                        24) 3974 3036</span>
                </p>

                <h3>Tại Đà Nẵng</h3>

                <p itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">Tầng 8, tòa nhà văn phòng Indochina Riverside Tower, <br> 74 Bạch
                        Đằng, Phường Hải Châu 1, </span>
                    <span itemprop="addressLocality">Quận Hải Châu,<br>
                        Tp. Đà Nẵng</span> <br>
                    Điện thoại: <span itemprop="telephone">(84 236) 730 8189/ (84 236) 3519 119</span> <br></p>

            </div>
        </div>
    </div>
</div>