<div class="loadingpage" *ngIf="loading">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>
<nav class="navbar navbar-light bg-white" style="padding: 10px;">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active">
            <img src="./../../../../assets/image/jeejob.png" class="w-75" alt="">
        </a>
    </div>
</nav>
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div>
                    <div class="card-body" style="padding-top: 0;">
                        <div class="  w-75" style="margin-left:12.5%">
                            <div id="carouselExampleControls" class=" carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="./../../../../assets/image/pannel.jpg"
                                            alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="./../../../../assets/image/pannel1.jpg"
                                            alt="Second slide">
                                    </div>
                                </div>
                            </div>
                            <p
                                style="margin-top: 10px; font-size: 16px;font-family: Roboto, Arial, sans-serif;text-align: justify">
                                Năm 2020, hành trình kiến tạo giấc mơ của chúng tôi được tiếp thêm sức mạnh khi <span
                                    style="color: var(--second);">JEEJOB</span>
                                vinh dự trở thành website tuyển dụng lớn mạnh, một tập đoàn chuyên về các dịch vụ liên
                                quan
                                đến ngành nhân sự, từ đó tạo thêm nhiều bứt phá mới trên thị trường khi tiếp tục cho ra
                                đời PRIMUS, một dịch vụ tuyển
                                dụng mới dành riêng cho nhóm nhân sự cấp cao lương trên $3000, và nhiều dịch vụ khác
                                trong thời gian sắp tới.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 card box" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h3>Đăng nhập để tiếp tục</h3>
                    <hr />
                    <div class="loginOrther text-center">
                        <h4 class="text-muted">Đăng nhập với</h4>
                        <button class="btn"><img src="../../../../assets/image/fb.png" alt="">Tài khoản
                            Facebook</button>
                        <button (click) = "signInWithGoogle()" class="btn"><img src="../../../../assets/image/gg.png" alt="">Tài khoản Google</button>
                    </div>
                    <!-- <p style="text-align: center; color:#B3B3B3">Đăng nhập với</p> -->
                    <!-- <br/> -->
                    <div class="form-group text-left">
                        <label style="color:#B3B3B3">Email</label>
                        <input class="form-control" type="email" #em="ngModel" required="required"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="email">
                        <span *ngIf="em.dirty || clicked">
                            <span class="text-danger" *ngIf="em.errors?.pattern">
                                *Nhập đúng định dạng email!
                            </span>
                            <span class="text-danger" *ngIf="em.errors?.required">
                                * Email không được để trống
                            </span>
                        </span>

                    </div>
                    <div class="form-group text-left">
                        <label style="color:#B3B3B3">Password</label>
                        <input class="form-control" type="password" #password="ngModel" minlength="6"
                            required="required" [(ngModel)]="matkhau">
                        <span *ngIf="password.dirty || clicked">
                            <span class="text-danger" *ngIf="password.errors?.minlength">
                                * Nhập tối thiểu 6 ký tự
                            </span>
                            <span class="text-danger" *ngIf="password.errors?.required">
                                * Mật khẩu không được trống
                            </span>
                        </span>
                    </div>
                    <div *ngIf="isLoginfalse">
                        <p style="color: red;">* Sai email hoặc mật khẩu</p>
                    </div>
                    <p><a [routerLink]="['/ungvien/login']">Quên mật khẩu?</a></p>
                    <button class="btn submit" (click)=login(em,password)>Đăng nhập</button>
                    <br>
                    <p class="text-center">Chưa có tài khoản? <a [routerLink]="['/dang-ky-ung-vien']"> Đăng ký!</a></p>
                    <p class="text-center">Bạn là nhà tuyển dụng? <a [routerLink]="['/dang-nhap-cong-ty']"> Đăng nhập ngay!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="./../../../../assets/image/jeejob.png" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Về DPS <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Thoả thuận sử dụng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quy định bảo mật</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div *ngIf="user" class="card text-center">
    <h6 class="card-header">
      Social Login Demo
    </h6>
    <div class="card-block"></div>
    <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
    <div class="card-block">
      <h4 class="card-title">{{ user.name }}</h4>
      <p class="card-text">{{ user.email }}</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
  </div>