
.work-item{
    width: 100%;
    padding: 5px;

}

.logo{
    width: 90%;
    margin-top: 10px;
    margin-left: 10%;
    outline: white solid 5px;
    
}

.work-item .info{
    margin-left: 10px;
    min-height: 150px;
} 

.list-job{
    background-color: white;
}

.icon i{
    color: gray;
}


.icon i:hover{
    transform: scale(1.2);
    color: red;
}

.icon i:active{
    transform: scale(1.2);
    color:blue
}