<div class="row text-center">
    <div class="col-6">
        <h1 (click)="timungvien=true" [ngClass]="{'bborder-bottom': timungvien}">Tìm kiếm ứng viên</h1>
    </div>
    <div class="col-6">
        <h1 (click)="timungvien=false" [ngClass]="{'border-bottom': !timungvien}">Ứng viên đang theo dõi</h1>
    </div>
</div>
<div class="noichuadata">
    <div *ngIf="timungvien,else luuungvien">
        <!-- danh sách Bộ lọc -->
        <div class="card">
            <div class="card-header" style="background:#F9FFFC">
                <div class="row">
                    <div class="col-4" style="font-size: 20px;">
                        <span style="color: var(--main);">{{listUngvien.length}} </span>Ứng viên đang tìm việc
                    </div>
                    <div class="col-5" style="    padding: 0;">
                    </div>
                    <div class="col-3" style="padding: 0;">
                        <div class="text-right">
                            <a class="btn" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Sắp xếp
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width:200px">
                                <a class="dropdown-item" (click)="sortArr(1)">Mặc định
                                    <span style="color: var(--second);float: right;" *ngIf="sapxep==1"><i
                                            class="fa fa-check" aria-hidden="true"></i> </span>
                                </a>
                                <a class="dropdown-item" (click)="sortArr(2)">Kinh nghiệm
                                    <span style="color: var(--second);float: right;" *ngIf="sapxep==2"><i
                                            class="fa fa-check" aria-hidden="true"></i> </span>
                                </a>
                            </div>

                            <a class="btn" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-sliders"
                                    aria-hidden="true"></i>
                                Bộ lọc</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body box" *ngIf="listUngvien.length > 0,else khongcoungvien">
                <div class="item" *ngFor="let item of listUngvien">
                    <div class="row">
                        <div class="col-8 row">
                            <div class="col-3">
                                <img *ngIf="!item.sociallogin" [src]="createImgPath(item.hinhanh)" class="avatar"
                                    alt="logo-user">
                                <img *ngIf="item.sociallogin" src="{{ item.hinhanh }}" class="avatar" alt="logo-user">
                            </div>
                            <div class="col-9">
                                <h1 style="margin: 0;">{{item.ho}} {{item.ten}}
                                    <span class="badge badge-pill badge-danger"
                                        style=" border-radius: 5px;">{{item.trangthai?item.trangthai:'đang cập nhật'}}</span><br>
                                    <small>Vi trí ứng
                                        tuyển:{{item.vitriungtuyen?item.vitriungtuyen:'Đang cập nhật'}}</small>
                                </h1>
                                <p style="font-size: 16px;margin: 0;">
                                    <span><i class="fa fa-globe" aria-hidden="true"></i>
                                        Ngành mong muốn: <span style="color: #F48120;">
                                            {{item.nganhmongmuon?nganhlamviec(item.nganhmongmuon):'Đang cập nhật'}}
                                        </span></span><br>
                                    <span><i class="fa fa-usd" aria-hidden="true"></i>
                                        Lương mong muốn: <span style="color: #F48120;">
                                            <span
                                                *ngIf="item.luong,else notluong">{{item.luong | currency:'VND'}}</span>
                                            <ng-template #notluong>Thương lượng</ng-template>
                                        </span></span><br>
                                    <span><i class="fa fa-briefcase" aria-hidden="true"></i>
                                        Kinh nghiệm: <span style="color: #F48120;"><span
                                                *ngIf="item.kinhnghiem,else updating">{{item.kinhnghiem}} năm</span>
                                            <ng-template #updating> Chưa có kinh nghiệm</ng-template>

                                        </span></span><br>
                                    <span><i class="fa fa-building" aria-hidden="true"></i>
                                        Nơi làm việc mong muốn: <span style="color: #F48120;">
                                            {{item.idThanhpho?tenthanhpho(item.idThanhpho):'Đang cập nhật'}}
                                        </span></span><br>
                                </p>
                                <div style="border: 1px #ccc dashed;">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span> Mục tiêu nghề ngiệp:
                                        {{item.muctieunghenghiep?item.muctieunghenghiep:'Đang cập nhật'}}</span>
                                </div>

                            </div>
                        </div>
                        <div class="col-4" style="padding-top: 25px;">
                            <button (click)="Luuungvien(item)"
                                [ngClass]="{'btn-main': item.daluu,'btn-outline-main':!item.daluu}"
                                title="{{item.daluu?'Bỏ theo dõi':'Theo dõi ứng viên'}}" type="button"
                                style="font-size: 20px;" class="btn float-right"><i class="fa fa-bookmark-o"
                                    aria-hidden="true"></i></button>
                            <button type="button" style="font-size: 20px;margin-right: 5px;" (click)="XemCT(item)"
                                class="btn btn-outline-main float-right">Chi tiết hồ sơ</button>

                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <ng-template #khongcoungvien>
                <div class="card-body">
                    <div class="empty text-center">
                        <img src="../../../../../assets/image/Mask Group 26.png" alt="">
                        <span class="text-muted d-block" style="font-size:16px">Không có ứng viên nào phù hợp với tiêu chí bạn đưa ra.
                            <br> <a [routerLink]="['/nhatuyendung/home/thong-tin/ung-vien-da-luu']" (click)="Xoaboloc()"> Bấm Vào đây để xem toàn bộ ứng viên</a>
                        </span>
                    </div>
                </div>
            </ng-template>
            
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <br>
                        <h1>TÌM KIẾM ỨNG VIÊN THEO CÁC TIÊU CHÍ</h1>
                        <div class="row form-group">
                            <span class="col-3 text-muted">Nơi làm việc</span>
                            <select class="col-8 form-control input" [(ngModel)]="boloc.idThanhpho">
                                <option value=0>Vui lòng chọn</option>
                                <option [value]="item.idThanhpho" *ngFor="let item of listThanhpho">{{item.tenthanhpho}}
                                </option>
                            </select>
                        </div>
                        <div class="row form-group">
                            <span class="col-3 text-muted">Ngành nghề</span>
                            <select class="col-8 form-control input" [(ngModel)]="boloc.idNganh">
                                <option value=0>Vui lòng chọn</option>
                                <option [value]="item.idNganh" *ngFor="let item of listNganh">{{item.tennganh}}</option>
                            </select>
                        </div>
                        <div class="row form-group">
                            <span class="col-3 text-muted">Năm kinh nghiệm:</span>
                            <select style="margin-left: 3px;" class="col-6 form-control input"
                                [(ngModel)]="boloc.luong">
                                <option [value]="item.id" *ngFor="let item of listKN">{{item.ten}}</option>
                            </select>
                            <select disabled style="margin-left: 3px;" class="col-2 form-control input">
                                <option value="">VND</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-right confim">
                        <button type="button" class="btn btn-main" data-dismiss="modal" (click)="onSave()">Cập
                            nhật</button>
                        <button type="button" style="margin-left: 10px;" data-dismiss="modal"
                            class="btn btn-outline-main" [routerLink]="['/nhatuyendung/home/thong-tin/ung-vien-da-luu']" (click)="Xoaboloc()">Xóa bộ lọc</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ====================================================== -->
    <!-- ====================================================== -->
    <!-- ====================================================== -->
    <!-- ====================================================== -->
    <!-- ====================================================== -->
    <!-- ====================================================== -->
    <ng-template #luuungvien>
        <div class="card tab-info">
            <div class="card-header">
                <h1>Danh sách ứng viên theo dõi</h1>
            </div>
            <div class="card-body box" *ngIf="ungviendaluu.length > 0,else tintrong">
                <div class="item" *ngFor="let item of ungviendaluu">
                    <div class="row">
                        <div class="col-8 row">
                            <div class="col-3">
                                <img [src]="createImgPath(item.hinhanh)" class="avatar" alt="logo-user">
                            </div>
                            <div class="col-9">
                                <h1 style="padding-top: 0;">{{item.ho}} {{item.ten}} <span *ngIf="item.dataSort>0"
                                        class="badge badge-pill badge-danger" style="    border-radius: 5px;">Phù
                                        hợp</span></h1>
                                <p style="font-size: 16px;">{{item.tenthanhpho}} | <span
                                        style="color: #F48120;">{{item.luong |number}}</span> </p>
                                <p class="text-muted"><i class="fa fa-paperclip" aria-hidden="true"></i> Hồ sơ đính kèm
                                </p>
                            </div>
                        </div>
                        <div class="col-4" style="padding-top: 25px;">
                            <button (click)="Xoaluu(item)"
                                title="Bỏ theo dõi ứng viên"
                                style="font-size: 20px;" class="btn float-right"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <button type="button" style="font-size: 20px;margin-right: 5px;" (click)="XemCT(item)"
                                class="btn btn-outline-main float-right">Chi tiết hồ sơ</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <ng-template #tintrong>
                <div class="card-body">
                    <div class="empty text-center">
                        <img src="../../../../../assets/image/Mask Group 26.png" alt="">
                        <span class="text-muted d-block" style="font-size:16px">Chưa theo dõi ứng viên nào</span>
                    </div>
                </div>
            </ng-template>

        </div>
    </ng-template>

</div>