<!-- Ung tuyen -->
<div class="card tab-info">
    <div class="card-body">
        <h1>Thông tin tuyển dụng</h1>
        <div class="row">
            <div class="col-4">
                <span class="text-muted">Công việc Tuyển dụng</span>
                <p> {{thongtin.tieude}}</p>
            </div>
            <div class="col-4">
                <span class="text-muted">Chức danh/cấp bậc ứng tuyển</span>
                <p>{{thongtin.chucdanh}}/{{thongtin.capbac}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span class="text-muted">Yêu cầu kinh nghiệm</span>
                <p *ngIf="thongtin.kinhnghiem"> {{thongtin.kinhnghiem}} năm</p>
            </div>
            <div class="col-4">
                <span class="text-muted">Mức lương công việc</span>
                <p *ngIf="thongtin.thuongluong,else noluong">Thương lượng </p>
                <ng-template #noluong>
                    <p>{{thongtin.minluong | number}} - {{thongtin.maxluong | number}}</p>
                </ng-template>
                
            </div>
        </div>
    </div>
</div>

<div *ngIf="ungvien.length>0,else then">
    <table class="table table-hover table-bodered bg-light">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Họ tên ứng viên</th>
                <th scope="col">Kinh nghiệm</th>
                <th scope="col">Ngành</th>
                <th scope="col">Ngày ứng tuyển</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ungvien,let i = index" (click)="Chitiet(item)"  >
                <th scope="row">{{i+1}}</th>
                <td>{{item.ho}} {{item.ten}}</td>
                <td>{{item.kinhnghiem}} năm</td>
                <td>{{item.tennganh}}</td>
                <td>{{item.ngayungtuyen|date:'dd/MM/yyyy'}}
                    <img *ngIf="item.daxem != true" src="../../../../../assets/image/new.gif" style="max-width: 50px;float: right;" alt="">
                </td>
               
            </tr>
        </tbody>
    </table>
</div>
<ng-template #then>
    <div class="card-body">
        <div class="empty text-center">
            <img src="../../../../../assets/image/Mask Group 26.png" alt="">
            <span class="text-muted d-block" style="font-size:16px">Chưa có ứng viên nào ứng tuyển vào công việc này</span>
        </div>
    </div>
</ng-template>

